<style>
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  background-color: #DCE1E5!important;
  border-top: #DCE1E5;
}
.footer a {
  color: #205081;
  font-weight: 700;
}

.footer-title {
  font-weight: 800!important;
}
.footer-link{
  margin-top:5px;
  margin-bottom:5px
}
</style>
<br><br><br>
<div class=" footer"  >
<div class="container">
    <div class="row">
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li class="footer-link"><b class="footer-title">GitHub</b><li class="footer-link">
                    <li class="footer-link"><a href="#">About us</a></li>
                    <li class="footer-link"><a href="#">Blog</a></li>
                    <li class="footer-link"><a href="#">Contact & support</a></li>
                    <li class="footer-link"><a href="#">Enterprise</a></li>
                    <li class="footer-link"><a href="#">Site status</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li class="footer-link"><b class="footer-title">Applications</b><li class="footer-link">
                    <li class="footer-link"><a href="#">Product for Mac</a></li>
                    <li class="footer-link"><a href="#">Product for Windows</a></li>
                    <li class="footer-link"><a href="#">Product for Eclipse</a></li>
                    <li class="footer-link"><a href="#">Product mobile apps</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li class="footer-link"><b class="footer-title">Services</b><li class="footer-link">
                    <li class="footer-link"><a href="#">Web analytics</a></li>
                    <li class="footer-link"><a href="#">Presentations</a></li>
                    <li class="footer-link"><a href="#">Code snippets</a></li>
                    <li class="footer-link"><a href="#">Job board</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li class="footer-link"><b class="footer-title">Documentation</b><li class="footer-link">
                    <li class="footer-link"><a href="#">Product Help</a></li>
                    <li class="footer-link"><a href="#">Developer API</a></li>
                    <li class="footer-link"><a href="#">Product Markdown</a></li>
                    <li class="footer-link"><a href="#">Product Pages</a></li>
                </ul>
            </div>
    </div>
    <br>
    <div class="row">
            <div class="col-xs-8">
                <ul class="list-unstyled list-inline pull-left">
                    <li class="footer-link"><a href="#">Terms of Service</a></li>
                    <li class="footer-link"><a href="#">Contact Us</a></li>
                    <li class="footer-link"><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <b class="text-muted pull-right">© 2015 Company Name. All rights reserved</b>
            </div>
        </div>
</div>

</div>
