<style>
.navbar.bg-transparent {
  background-color: #FFF;
  border: none;
  box-shadow: none;
  color: #fff;
}
.navbar.bg-transparent .navbar-nav>li>a, .navbar.bg-color .navbar-nav>li>a {
 color: #484848;
 opacity: 1;
 cursor: pointer;
}
.navbar-nav>li>a:hover{
  background-color: #ECF0F1;
  border-radius: 5px
}
.navbar-brand>img {
display: block;
}
.pointer {
  cursor: pointer;
}
.navbar {
  padding: 15px;
}
</style>
<header id="nav1-3">
   <nav class="navbar navbar-fixed-top bg-transparent" id="main-navbar">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a src="../assets/theme_get_leads/#" class="navbar-brand logo-black smooth-scroll"><img src="http://www.themedept.com/demo/getleads/images/logo-black.png" alt="logo"/></a>
            <a src="../assets/theme_get_leads/#" class="navbar-brand logo-white smooth-scroll"><img src="http://www.themedept.com/demo/getleads/images/logo-black.png" alt="logo"/></a>
         </div>
         <div class="collapse navbar-collapse cta-header" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a src="../assets/theme_get_leads/#content7-1" class="smooth-scroll">About</a></li>
               <li><a src="../assets/theme_get_leads/#features4-1" class="smooth-scroll">Products Services</a></li>
               <li><a src="../assets/theme_get_leads/#features4-1" class="smooth-scroll">Pricing</a></li>
               <li><a src="../assets/theme_get_leads/#portfolio3-1" class="smooth-scroll">Work</a></li>
               <li class="dropdown" ng-show="false">
                  <a id="dLabel" data-toggle="dropdown" data-target="#" src="../assets/theme_get_leads/#">
                  Extra Pages <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu multi-level" role="menu">
                     <li><a src="../assets/theme_get_leads/blog-list.html">Blog List</a></li>
                     <li><a src="../assets/theme_get_leads/blog-single.html">Blog Single</a></li>
                     <li><a src="../assets/theme_get_leads/faq.html">Faq</a></li>
                     <li><a src="../assets/theme_get_leads/terms.html">Terms</a></li>
                     <li><a src="../assets/theme_get_leads/login.html">Login Page</a></li>
                     <li><a src="../assets/theme_get_leads/signup.html">Signup Page</a></li>
                     <li class="divider"></li>
                     <li class="dropdown-submenu">
                        <a tabindex="-1" src="../assets/theme_get_leads/#">Other Demos</a>
                        <ul class="dropdown-menu">
                           <li><a src="../assets/theme_get_leads/consulting.html">Consulting</a></li>
                           <li><a src="../assets/theme_get_leads/webservice.html">Web Service</a></li>
                           <li><a src="../assets/theme_get_leads/agency.html">Agency</a></li>
                           <li><a src="../assets/theme_get_leads/elearning.html">E-Learning</a></li>
                           <li><a src="../assets/theme_get_leads/medical.html">Medical</a></li>
                           <li><a src="../assets/theme_get_leads/app.html">App</a></li>
                           <li><a src="../assets/theme_get_leads/event.html">Event</a></li>
                           <li><a src="../assets/theme_get_leads/yoga.html">Yoga</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li><a src="../assets/theme_get_leads/#hero9" class="btn-nav btn-pink text-white smooth-scroll pointer" style="color:#fff;margin-left:5px;">Quick Quote</a></li>
               <li><a src="../assets/theme_get_leads/#hero9" class="btn-nav btn-grey text-white smooth-scroll pointer" style="color:#fff;margin-left:10px;"><i class="icon wb-lock" aria-hidden="true"></i> Login</a></li>
            </ul>
         </div>
      </div>
   </nav>
</header>
