<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{page.page_title}}</title>
      <!-- import header  resources -->
      {{> all_header_resources   }}
      <!-- /import header resources -->
    </head>
    <body>
      <!-- import content template -->
      {{> login_content_template   }}
      <!-- /import content template -->
    </body>
</html>
