<!doctype html>
<html class="no-js css-menubar" lang="en" ng-app="businessApp">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{page.page_title}}</title>
      <!-- import header  resources -->
      {{> all_header_resources      }}
      {{> portal_header_resources }}
      <!-- /import header resources -->
    </head>
    <body class="dashboard">
      <!-- import content resources -->
      {{> portal_content_template }}
      <!-- import content resources -->
      <!-- import footer resources -->
      {{> all_footer_resources      }}
      {{> portal_footer_resources }}
      <!-- /import footer resources -->
    </body>
</html>
