<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="header" class="header navbar navbar-fixed-top navbar-default" data-current-theme="navbar-default">
   <!-- begin container-fluid -->
   <div class="container-fluid">
      <!-- begin mobile sidebar expand / collapse button -->
      <div class="navbar-header">
         <a href="index.html" class="navbar-brand"><img src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/34-128.png" class="logo" alt=""> <b>First Seen</b></a>
         <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <!-- end mobile sidebar expand / collapse button -->
      <!-- begin navbar-right -->
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <span class="image"><img src="http://seantheme.com/source-admin-v1.2.1/admin/html/assets/img/user_profile.jpg" alt=""></span>
            <span class="hidden-xs">John Smith</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu pull-right">
               <li><a href="javascript:;">Edit Profile</a></li>
               <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
               <li><a href="javascript:;">Calendar</a></li>
               <li><a href="javascript:;">Setting</a></li>
               <li class="divider"></li>
               <li><a href="javascript:;">Log Out</a></li>
            </ul>
         </li>
         <li>
            <a href="javascript:;" data-click="right-sidebar-toggled">
            <i class="fa fa-align-left"></i>
            </a>
         </li>
      </ul>
      <!-- end navbar-right -->
   </div>
   <!-- end container-fluid -->
</div>
<!-- Add your site or application content here -->
<div class="container">
   <div class="bg-white m-t-10 well well-sm">
      <h2 class="m-t-10"><b>Bank Street Home For Sale</b></h2>
      <h4><i class="zmdi zmdi-pin text-danger zmdi-hc-fw"></i><b>128</b> Bank Street,Orleans Ontario</h4>
   </div>
   <iframe class="scan-iframe" height="360" src="https://my.matterport.com/show/?m=fRGL4VSosLW" frameborder="0" allow-fullscreen></iframe>
   <div class="row">
      <div class="col-md-12">
         <div class="bg-white m-t-10 well well-sm">
            <form class="form-input-flat">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="name">
                        Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name" required="required">
                     </div>
                     <div class="form-group">
                        <label for="email">
                        Email Address</label>
                        <div class="input-group">
                           <span class="input-group-addon">
                           <i class="zmdi zmdi-email"></i>
                           </span>
                           <input type="email" class="form-control" id="email" placeholder="Enter your email" required="required">
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="subject">
                        Subject</label>
                        <select id="subject" name="subject" class="form-control" required="required">
                           <option value="na" selected="">Choose One:</option>
                           <option value="service">General Customer Service</option>
                           <option value="suggestions">Suggestions</option>
                           <option value="product">Product Support</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="name">
                        Message</label>
                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                     Send Message</button>
                  </div>
               </div>
            </form>
         </div>
         <small class="pull-right">Listing Id: <a href="">{{listing_id}}</a></small>
      </div>
   </div>
</div>
