<!-- core  -->
<script src="../assets/theme_remark/global/vendor/jquery/jquery.js"></script>
<script src="../assets/theme_remark/global/vendor/bootstrap/bootstrap.js"></script>
<script src="../assets/theme_remark/global/vendor/animsition/animsition.js"></script>
<script src="../assets/theme_remark/global/vendor/asscroll/jquery-asScroll.js"></script>
<script src="../assets/theme_remark/global/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="../assets/theme_remark/global/vendor/asscrollable/jquery.asScrollable.all.js"></script>
<script src="../assets/theme_remark/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<!-- /core  -->
<!-- plugins -->
<script src="../assets/theme_remark/global/vendor/switchery/switchery.min.js"></script>
<script src="../assets/theme_remark/global/vendor/intro-js/intro.js"></script>
<script src="../assets/theme_remark/global/vendor/screenfull/screenfull.js"></script>
<script src="../assets/theme_remark/global/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="../assets/theme_remark/global/vendor/skycons/skycons.js"></script>
<script src="../assets/theme_remark/global/vendor/chartist-js/chartist.min.js"></script>
<script src="../assets/theme_remark/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
<script src="../assets/theme_remark/global/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
<script src="../assets/theme_remark/global/vendor/jvectormap/jquery.jvectormap.min.js"></script>
<script src="../assets/theme_remark/global/vendor/jvectormap/maps/jquery-jvectormap-asu-mill-en.js"></script>
<script src="../assets/theme_remark/global/vendor/matchheight/jquery.matchHeighst-min.js"></script>
<!-- /plugins -->
<!-- scripts -->
<script src="../assets/theme_remark/global/js/core.js"></script>
<script src="../assets/theme_remark/assets/js/site.js"></script>
<script src="../assets/theme_remark/assets/js/sections/menu.js"></script>
<script src="../assets/theme_remark/assets/js/sections/menubar.js"></script>
<script src="../assets/theme_remark/assets/js/sections/gridmenu.js"></script>
<script src="../assets/theme_remark/assets/js/sections/sidebar.js"></script>
<script src="../assets/theme_remark/global/js/configs/config-colors.js"></script>
<script src="../assets/theme_remark/assets/js/configs/config-tour.js"></script>
<script src="../assets/theme_remark/global/js/components/asscrollable.js"></script>
<script src="../assets/theme_remark/global/js/components/animsition.js"></script>
<script src="../assets/theme_remark/global/js/components/slidepanel.js"></script>
<script src="../assets/theme_remark/global/js/components/switchery.js"></script>
<script src="../assets/theme_remark/global/js/components/matchheight.js"></script>
<script src="../assets/theme_remark/global/js/components/jvectormap.js"></script>
<!-- /scripts -->
<!-- angular -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdn.jsdelivr.net/angularjs/1.4.5/angular-animate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-alpha.4/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.mask.js"></script>
<script type="text/javascript" src="../page_apps/portal/app.js"></script>
{{#controllers}}
<script type="text/javascript" src="../page_apps/portal/controllers/{{.}}"></script>
{{/controllers}}
<!-- /angular -->

