
	<div class="login">
		<!-- begin login-brand -->
		<div class="login-brand bg-inverse text-white">
			Registration - Panel
		</div>
		<!-- end login-brand -->
		<!-- begin login-content -->
		<div class="login-content">
			<h4 class="text-center m-t-0 m-b-20 __web-inspector-hide-shortcut__">Start Improving Your Business Today!</h4>
			<form role="form" action="index.html" method="POST" name="login_form" class="form-input-flat">

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
														<input type="text" name="first_name" id="first_name" class="form-control input-md" placeholder="First Name" tabindex="1">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="last_name" id="last_name" class="form-control input-md" placeholder="Last Name" tabindex="2">
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" name="display_name" id="display_name" class="form-control input-md" placeholder="Display Name" tabindex="3">
					</div>
					<div class="form-group">
						<input type="email" name="email" id="email" class="form-control input-md" placeholder="Email Address" tabindex="4">
					</div>
					<div class="form-group">
						<input type="text" name="display_name" id="display_name" class="form-control input-md" placeholder="Company Name" tabindex="3">
					</div>
					<div class="form-group">
						<select class="form-control input-md">
							<option>Industry</option>
							<option value="volvo">Volvo</option>
						  <option value="saab">Saab</option>
						  <option value="mercedes">Mercedes</option>
						  <option value="audi">Audi</option>
						</select>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password" tabindex="5">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-md" placeholder="Confirm Password" tabindex="6">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-3 col-md-3">
							<span class="button-checkbox">
								<button type="button" class="btn btn-default" data-color="info" tabindex="7"><i class="state-icon glyphicon glyphicon-unchecked"></i>I Agree</button>
														<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
							</span>
						</div>
						<div class="col-xs-8 col-sm-9 col-md-9">
							 By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
						</div>
					</div>

					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-md" tabindex="7"></div>
						<div class="col-xs-12 col-md-6"><a href="/login" class="btn btn-success btn-block btn-md">Sign In</a></div>
					</div>
				</form>
		</div>
		<!-- end login-content -->
	</div>
