<script type="text/javascript">
   .pagination {
       display: inline-block;
       padding-left: 0;
       margin: 0px 0;
       border-radius: 3px;
   }
</script>
<div class="page-nation pull-right">
   <ul class="pagination pagination-large bg-white">
      <li class="disabled"><span>«</span></li>
      <li class="active"><span>1</span></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li class="disabled"><span>...</span></li>
      <li>
      <li><a rel="next" href="#">Next</a></li>
   </ul>
</div>