<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<style>
   .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
   background: #2E7FB8;
   background-image:url('../assets/images/c.png');
   background-size: 1854px 1316px;
   background-repeat: no-repeat;
   }

   #hero-box{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
   }

   #tour-box {
     padding: 20px;
   }
   .hero-leadBoxModel .form-horizontal {
   padding: 30px 40px 10px;
   border-radius: 5px;
   box-shadow: -2px -2px 6px 0 rgba(0,0,0,.1);
   background-color: #525e6c;
   background-color: rgba(0, 0, 0, 0.57);
   }
   body {
   font-size: 16px;
   line-height: 20px;
   background-color: #EDEFED;
   color: #575756;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   padding: 0;
   margin: 0;
   }
   @media (min-width: 992px){
   .modal-lg {
   width: 1050px;
   }
   }
   .modal-body {
   position: relative;
   padding: 15px;
   background-color: #ecf0f1;
   }
   .product-img{
   width: 110px!important;
   height: 100px!important;
   }
   .panel-example-tour {
   margin-bottom: 20px;
   background-color: #fff;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: 0 3px 1px rgba(0,0,0,.05);
   box-shadow: 0 3px 1px rgba(0,0,0,.05);
   margin: 9px;
   padding: 10px;
   width: 31.7%;
   }
   .price-header {
   /*border-bottom: solid 3px #FFFFFF;*/
   display: inline;
   padding-bottom: 3px;
   margin-bottom: 10px;
   }
   .price-line {
   border-top: 3px solid #eee;
   }
   .check-list li:before {
   font-family: "FontAwesome";
   content: "	✓";
   margin-right: 5px;
   font-weight: 800;
   font-size: 150%;
   color:#27ae60;
   }
   input:disabled {
        background: #ABB6B9!important;
   }
   textarea:disabled {
        background: #ABB6B9!important;
   }
   .price-ref {
     text-decoration: underline;
   }
   .section-title {
      color: #3A92D0;
   }
</style>
<div style="visibility:hidden" class="loader bg-blue-dark">
   <div class="loader-inner ball-scale-ripple-multiple vh-center">
      <div></div>
      <div></div>
      <div></div>
   </div>
</div>
<div class="main-container" id="page">
   <div ng-include src="'../page_apps/business/snippets/bits/homestyle_menu.html'"></div>
   <section id="hero9" class="bg-img hero-leadBoxModel p-t-lg p-b-md content-align-md" style="background-image:url('images/carpenter1.jpg');">
      <div id="hero-box"class="overlay"></div>
      <div class="container">
         <div class="row y-middle">
            <div class="col-sm-12 col-md-7 center-md text-white">
               <h2 ng-show="true" class="text-center">Book in seconds. Scan in days. Delivered in hours ...</h2>
               <p  ng-show="true" class="lead m-b-md text-center">Book today and be FirstSeen.</p>
               <p class="text-center"><span class="glyphicon glyphicon-map-marker"></span> <b>Ottawa Based</b></p>
            </div>
            <div class="col-sm-12 col-md-5">
               <form class="form-horizontal form-white text-white" id="quoteForm">
                 <h4 class="text-center">Make an Appointment</h4>
                 <p class="text-center m-b-md">Just fill out the form below to make an appointment to be service from our qualified staff. It's easy and fast.</p>

                  <p class="success qf"><i class="fa fa-check"></i> <strong>Your quote has successfully been sent.</strong></p>
                  <p class="failed qf"><i class="fa fa-exclamation-circle"></i><strong> Something went wrong!</strong></p>

                  <div class="form-group">
                     <input  id="qName" type="text" ng-disabled="leadBoxLockActive" ng-model="leadBoxModel.name" class="form-control" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                     <input id="qEmail" type="email" ng-disabled="leadBoxLockActive" ng-model="leadBoxModel.email" class="form-control" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                     <input  id="qPhone" type="tel" ng-disabled="leadBoxLockActive" ng-model="leadBoxModel.phone_number" class="form-control mask-phone" placeholder="Phone Number" required>
                  </div>
                  <div class="form-group">
                     <textarea id="qMessage" ng-disabled="leadBoxLockActive"  ng-model="leadBoxModel.message" rows="5" class="form-control" placeholder="Address and Date" style="resize:none;" required></textarea>
                  </div>
                  <div class="form-group">
                     <button type="submit" ng-disabled="leadBoxLockActive" class="btn btn-red"><i class="icon glyphicon glyphicon-time" aria-hidden="true"></i> BOOK A SCAN</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
   <section id="content7-1" class="p-y-md bg-edit">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center wow fadeIn">
                  <h2 class="section-title">Sample Virtual Tour</h2>
                  <p class="lead">Show off your Residential, Commerical, Or Recreational space. </p>
               </div>
            </div>
         </div>
         <div class="row features-block">
           <div id="tour-box" class="panel thumbnail">
             <iframe width="853" height="500" src="https://my.matterport.com/show/?m=v1tNGBQxWxn" frameborder="0" style="width: 100%;" allow-fullscreen></iframe>
           </div>

         </div>
      </div>
   </section>
   <section id="cta3-3" class="p-y-md p-t-sm bg-white" >
      <div class="overlsay"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center wow fadeIn">
               <h3 class="f-w-900 m-b-md">Your property on the web.</h3>
               <p class="lead m-b-md">Bring your property to the web and be <b>FirstSeen</b>.</p>
               <a src="../assets/theme_get_leads/#hero9" class="btn btn-shadow btn-red btn-md text-uppercase">Request a Demo Now!</a>
            </div>
         </div>
      </div>
   </section>

   <section id="content7-1" class="bg-edit p-t-md">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center wow fadeIn">
                  <h2 class="section-title">Our Products and Services</h2>
                  <p class="lead">We have a wide array of product offerings to meet your needs.</p>
               </div>
            </div>
         </div>
         <div class="row features-block">
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="../assets/images/fs_tour.png" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Tours™</h5>
               <p><b>Virtual Tour Generation Service.</b></p>
               <p>Tours is for clients looking to bring their property online to land and key-visits on the the web. Take advantage of our technology and create vivid experiences complete with useful annotations.</p>
            </div>
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="../assets/images/fs_map.png" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Maps™</h5>
               <p><b>Floor Map Generation Service.</b></p>
               <p>Maps is for clients looking to create Floor Maps and take measurements of properties. Whether you are an interior designer, an architect, or a realtor Maps is an excellent service.</p>
            </div>
         </div>
         <div class="row features-block">
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="../assets/images/fs_scope.png" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Web™</h5>
               <p><b>Web Resource Management Service.</b></p>
               <p>Neque iure, illum consequatur quidem laudantium veritatis labore fuga inventore totam, at quos deserunt quae expedita aliquam, perspiciatis saepe.</p>
            </div>
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="../assets/images/fs_tower.png" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Agent™</h5>
               <p><b>[Internal] Product Managment Service.</b></p>
               <p>Manage all of your products from within Tower. Tower allows you to book products at will for your business.</p>
            </div>
         </div>
      </div>
   </section>

   <section id="cta2" class="p-y-md cta bg-color bg-light m-t-lg">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center single-line">
               <p class="lead m-r-md"><span class="f-w-900">Need more help?</span>  Contact us with your business inquiry.</p>
               <a src="../assets/theme_get_leads/" class="btn btn-red btn-md">Contact<i class="fa fa-arrow-right m-l"></i></a>
            </div>
         </div>
      </div>
   </section>



      <section id="pricing3-1" class="p-y-md bg-edit">
         <div class="container">
            <div class="row">
               <div class="col-md-8 col-md-offset-2">
                  <div class="section-header text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                     <h2 class="section-title">Our Packages</h2>
                     <p class="lead">We have packages tailored plan to fit your personal or team requirements.</p>
                  </div>
               </div>
            </div>
            <div class="row pricing-3pf">
               <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-4 orange">
                     <div class="info bg-edit bg-orange text-center text-white">
                        <h4 class="price-header">Basic</h4>
                        <div class="price text-edit">
                           <span class="currency">$</span>
                           499
                           <span class="cents">99</span>
                        </div>
                        <p class="p-opacity m-b-md">powerful yet minimal<br>for anyone</p>
                        <a class="btn btn-ghost smooth-scroll" href="#subscription5-1"><i class="icon glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Purchase Online</a>
                     </div>
                     <div class="details">
                        <h5 class="f-w-900">This plan includes</h5>
                        <p>This awesomeness features:</p>
                        <hr class="price-line">
                        <ul class="text-edit check-list">
                           <li>Virtual Tour Scan</li>
                           <li>Virtual Tour Feature Tagging</li>
                           <li>Basic Web Support</li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-4 blue">
                     <div class="info bg-edit bg-blue text-center text-white">
                        <h4 class="price-header">Premium</h4>
                        <div class="price text-edit">
                           <span class="currency">$</span>
                           599
                           <span class="cents">99</span>
                        </div>
                        <p class="p-opacity m-b-md">our recommended <br>for businesses and home-sellers</p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                           <button type="submit" name="submit" class="btn btn-ghost"><i class="icon glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Purchase Online</button>
                           <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                           <input type="hidden" name="business" value="hi@themedept.com">
                           <input type="hidden" name="cmd" value="_xclick-subscriptions">
                           <input type="hidden" name="currency_code" value="USD">
                           <input type="hidden" name="item_name" value="GETLEADS_BUSINESS_PLAN">
                           <input type="hidden" name="a3" value="5.46">
                           <input type="hidden" name="t3" value="M">
                           <input type="hidden" name="p3" value="1">
                           <input type="hidden" name="src" value="1">
                           <input type="hidden" name="sra" value="1">
                           <input type="hidden" name="no_note" value="1">
                        </form>
                     </div>
                     <div class="details">
                        <h5 class="f-w-900 text-blue">This plan includes*</h5>
                        <p class="text-blue">Everything in <strong>Basic</strong>, and:</p>
                        <hr class="price-line">
                        <ul class="text-edit check-list">
                          <li>Limited Advanced Web Support</li>
                          <li>Unlimited Tags & Revisions</li>
                          <li>Lawn Sign & Window Sticker</li>
                          <li>Limited Proffesional Photography</li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-4 red">
                     <div class="info bg-edit bg-pink text-center text-white">
                        <h4 class="price-header">Delux</h4>
                        <div class="price text-edit">
                           <span class="currency">$</span>
                           699
                           <span class="cents">99</span>
                        </div>
                        <p class="p-opacity m-b-md">premium with bonuses <br>for businesses and home-sellers</p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                           <button type="submit" name="submit" class="btn btn-ghost"><i class="icon glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Purchase Online</button>
                           <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                           <input type="hidden" name="business" value="hi@themedept.com">
                           <input type="hidden" name="cmd" value="_xclick-subscriptions">
                           <input type="hidden" name="currency_code" value="USD">
                           <input type="hidden" name="item_name" value="GETLEADS_PRO_PLAN">
                           <input type="hidden" name="a3" value="49.99">
                           <input type="hidden" name="t3" value="M">
                           <input type="hidden" name="p3" value="1">
                           <input type="hidden" name="src" value="1">
                           <input type="hidden" name="sra" value="1">
                           <input type="hidden" name="no_note" value="1">
                        </form>
                     </div>
                     <div class="details m-b-0">
                        <h5 class="f-w-900 text-pink">This plan includes*</h5>
                        <p class="text-pink">Everything in <strong>Business</strong>, and:</p>
                        <hr class="price-line" style="border-color:#f04c5c!important;">
                        <ul class="text-edit m-b-0 check-list">
                          <li>Unlimited Advanced Web Support</li>
                          <li>SEO Consulting And Assistance</li>
                          <li>Unlimited Proffesional Photography</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="text-center" style="margin-top: 25px;">
            <div class="btn-group" role="group" aria-label="...">
               <button type="button" class="btn btn-default btn-pink">Single Scan</button>
               <button type="button" class="btn btn-default btn-blue">Packages</button>
               <button type="button" class="btn btn-default btn-blue">Realtor Plans</button>
            </div>
         </div>
      </section>

      <section id="cta2" class="p-y-md cta bg-color bg-light m-t-md">
         <div class="container">
            <div class="row">
               <div class="col-md-8 col-md-offset-2 text-center single-line">
                  <p class="lead m-r-md"><span class="f-w-900">Need more examples?</span>  Explore our projects gallery.</p>
                  <a src="../assets/theme_get_leads/" class="btn btn-blue btn-md">View all Projects<i class="fa fa-arrow-right m-l"></i></a>
               </div>
            </div>
         </div>
      </section>


   <section id="portfolio3-1" class="p-t-md p-b-md">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center">
                  <h2 class="section-title">Past Projects</h2>
                  <p class="lead">We have been driving innovation in Ottawa.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 content-block c3">
               <div class="col-sm-4 panel-example-tour" ng-repeat="i in [1,2,3]">
                  <img src="../assets/images/unspecified.jpeg" alt="" class="img-responsive img-rounded">
                  <h5 class="m-t">Spin City - Cycling Club</h5>
                  <p class="p-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, odio eum magni optio laborum non et accusamus, itaque, nisi sapiente impedit consequatur cum est dolorem assumenda modi, quis.</p>
                  <a src="../assets/theme_get_leads/" class="btn btn-blue btn-sm btn-block">View all Projects<i class="fa fa-arrow-right m-l"></i></a>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section id="testimonials4-1" class="p-y-md content-align-sm bg-edit bg-light">
      <div class="container">
         <div class="row y-middle">
            <div class="col-md-5 col-sm-6 m-b center-sm">
               <h3 class="f-w-900 m-b">What our clients says</h3>
               <h5>Don't just take our word for it listen to our happy clients.</h5>
               <p class="m-b-md">People across industries are loving our scans in the Ottawa area.</p>
            </div>
            <div class="col-md-5 col-sm-6 text-center testimonials-right">
               <div id="carousel-testimonial1" class="carousel slide carousel-fade carousel-testimonial-single" data-ride="carousel">
                  <ol class="carousel-indicators inverse">
                     <li data-target="#carousel-testimonial1" data-slide-to="0" class="active"></li>
                     <li data-target="#carousel-testimonial1" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                     <div class="item active">
                        <blockquote>
                           <p class="p-opacity m-b-md f-w-700"><i class="fa fa-quote-left m-r p-opacity" style="font-size:15px"></i><b>"</b>Quae voluptatibus suscipit debitis, ad minus nulla odit dolor ducimus quia voluptatem! Pariatur iste, corrupti a ex adipisci est dolorem debitis. Repellendus, eius aliquid recusandae id suscipit qui labore nesciunt.<b>"</b><i class="fa fa-quote-right m-l p-opacity" style="font-size:15px"></i> </p>
                           <figure><img src="https://spin-city.ca/wp-content/themes/spincity/img/logo-spincity.png" alt="" class="img-circle m-b" width="120" height="120"> </figure>
                           <cite class="p-opacity text-edit"><strong>Sebastien Lemay</strong>, OWNER Spin City </cite>
                        </blockquote>
                     </div>
                     <div class="item">
                        <blockquote>
                           <p class="p-opacity m-b-md f-w-700"><i class="fa fa-quote-left m-r p-opacity" style="font-size:15px"></i>Optio accusamus quos ratione iusto non pariatur voluptatum! Eos ipsam maxime assumenda quas, unde officia provident nam, ducimus veritatis eius suscipit, amet ullam consequatur odit sapiente.<i class="fa fa-quote-right m-l p-opacity" style="font-size:15px"></i> </p>
                           <figure><img src="https://s-media-cache-ak0.pinimg.com/736x/d4/04/ed/d404ed46ff8236d11f21ad4c27cd6318.jpg" alt="" class="img-circle m-b" width="120" height="120"> </figure>
                           <cite class="p-opacity text-edit"><strong>Justin Jordan</strong>, Ipsum Enterpreneur</cite>
                        </blockquote>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="partners3-1" class="p-y bg-edit bg-grey-dark">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center clients">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
            </div>
         </div>
      </div>
   </section>
   <style>
      #footer6-1{
      color: #EFF1F4;
      }
      .footer a {
      color: #EFF1F4;
      }
   </style>
   <footer id="footer6-1" class="footer f6 p-y-md bg-edit" style="background-color:#2B2D2C;">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img src="http://www.themedept.com/demo/getleads/images/logo-black.png" alt="">
               <p class="m-t">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <div class="footer-social social-btn m-t-md inverse text-center">
                  <a href="#" class="sb-facebook"><i class="icon bd-facebook"></i></a>
                  <a href="#" class="sb-google-plus"><i class="icon bd-google-plus"></i></a>
                  <a href="#" class="sb-twitter"><i class="icon bd-twitter"></i></a>
                  <a href="#" class="sb-instagram"><i class="icon bd-tumblr"></i></a>
               </div>
            </div>
            <div class="col-md-2">
               <p><strong>QUICK LINKS</strong></p>
               <ul class="footer-links m-t">
                  <li class="m-b"><a href="#" class="edit">Press</a></li>
                  <li class="m-b"><a href="#" class="edit">Terms of service</a></li>
                  <li class="m-b"><a href="#" class="edit">About</a></li>
                  <li class="m-b"><a href="#" class="edit">Contact</a></li>
               </ul>
            </div>
            <div class="col-md-2">
               <p><strong>PRODUCTS</strong></p>
               <ul class="footer-links m-t">
                  <li class="m-b"><a href="#" class="edit">FirstSeen Tours</a></li>
                  <li class="m-b"><a href="#" class="edit">FirstSeen Maps</a></li>
                  <li class="m-b"><a href="#" class="edit">FirstSeen Logs</a></li>
                  <li class="m-b"><a href="#" class="edit">FirstSeen Tower</a></li>
               </ul>
            </div>
            <div class="col-md-2">
               <p><strong>ABOUT US</strong></p>
               <ul class="footer-links m-t">
                  <li class="m-b"><a href="#" class="edit">Our Story</a></li>
                  <li class="m-b"><a href="#" class="edit">Press Center</a></li>
                  <li class="m-b"><a href="#" class="edit">Careers</a></li>
               </ul>
            </div>
         </div>
      </div>
   </footer>
</div>
<script type="text/ng-template" id="myModalContent.html" class="cleader-modal">
   <div class="modal-header">
       <h4 class="modal-title"><b>Mondrian Ottawa Condo</b> <a href="" class="pull-right text-black" style="color: #30373E;" ng-click="cancel()"><i class="zmd-fw zmdi zmdi-close-circle"></i></a></h4>
   </div>
   <div class="modal-body">
     <iframe width="853" height="500" src="https://my.matterport.com/show/?m=v1tNGBQxWxn" frameborder="0" style="width: 100%;" allow-fullscreen></iframe>
     <h5 class="m-t-10 m-b-10">
       <i class="zmdi zmdi-pin text-danger zmdi-hc-fw" style="margin-left: -7px;s"></i>128 Bank Street, Orleans Ontario Canada
       <span class="pull-right"> 1,500 Square Feet</span>
     </h5>
     <h5 class="m-b-5"><b>Description</b></h5>
     <p clas="m-t-10" style="margin-bottom: 0px;">
     As a unique building which stands out from all others around it, The Mondrian is truly a "work of art".  The building’s interior is equally as stylish as its outside, featuring a contemporary style lobby and modern units.  Floors two through six of the building are used as a parking garage while condo units reside on the remaining 18 levels. This 23-storey building features industrial-style units. Penthouse suites in this building are dual level with floor to ceiling windows.
     </p>
     <div class="text-center" ng-show="false">
             <button class="btn btn-primary">View Listing Page</button>
     </div>
   </div>
   <div class="modal-footer">
       <div class="m-t-5 m-b-5 pull-left" style="font-size: 15px;"> <i class="zmd-fw zmdi zmdi-time"></i> Estimated Job Completion Time: 40 Minutes</div>
       <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
   </div>
</script>
<script>

</script>
