<div class="">
   <div class="row">
      <div class="col-md-6 _col-md-offset-3">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title"><b>Mondrian Condo Ottawa</b></h3>
               <span class="pull-right" ng-show="false">
                  <!-- Tabs -->
                  <ul class="nav panel-tabs">
                     <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                     <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
                     <li><a href="#tab3" data-toggle="tab">Tab 3</a></li>
                     <li><a href="#tab4" data-toggle="tab">Tab 4</a></li>
                  </ul>
               </span>
            </div>
            <div class="panel-body">
               <div class="tab-content">
                  <br>
                  <div class="tab-pane active" id="tab1"><iframe style="width:100%;" height="480" src="https://my.matterport.com/show/?m=fRGL4VSosLW" frameborder="0" allow-fullscreen></iframe></div>
                  <form role="form">
                     <br style="clear:both">
                     <div class="form-group">
                        <label><b>Scan Name</b></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
                     </div>
                      <div class="form-group">
                        <label><b>Default Room</b></label>
                        <select class="form-control"> <option value="">Default select</option> </select>
                     </div>
                     <button type="button" id="submit" name="submit" class="btn btn-primary pull-left">Preview</button>
                     <button type="button" id="submit" name="submit" class="btn btn-success pull-right">Save Changes</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
            <div class="col-md-6 _col-md-offset-3">
         <div class="panel panel-primary">
             <div class="panel-heading">
               <h3 class="panel-title"><b>Property Features</b></h3>
               <span class="pull-right" ng-show="false">
                  <!-- Tabs -->
                  <ul class="nav panel-tabs">
                     <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                     <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
                     <li><a href="#tab3" data-toggle="tab">Tab 3</a></li>
                     <li><a href="#tab4" data-toggle="tab">Tab 4</a></li>
                  </ul>
               </span>
            </div>
            <div class="panel-body">
               <div class="tab-content">
                <br>
                <table class="table table-striped custab">
    <thead>
    
        <tr>
            <th>Title</th>
            <th>Parent ID</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tbody><tr>
                <td>News</td>
                <td>News Cate</td>
                <td class="text-center"><a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <tr>
                <td>Products</td>
                <td>Main Products</td>
                <td class="text-center"><a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <tr>
                <td>Blogs</td>
                <td>Parent Blogs</td>
                <td class="text-center"><a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
    </tbody></table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>