<style type="text/css">
   .media-photo{
   height: 100px;
   width: 100px;
   }
   #filter-group{
   margin-bottom: 15px;
   }
   .breadcrumb {
   margin-bottom: 10px;
   margin-left: -10px;
   }
   #search-box{
   margin-left: -15px; 
   }
   .description{
   font-weight: 400;
   }
   .vertical-center {
   position: relative;
   top: 70%;
   transform: translateY(33%);
   }
   .property-title{
   margin-bottom: 5px;
   }
   .modal-content{
   margin-top: 90px;
   }
   .modal-body {
   padding: 20px;
   background-color: #E0E0E0;
   }
   .wb-eye {
      font-size: 20px;
   }
   .tooltip {
 
   }
</style>
<div class="page-header_" ng-show="false">
   <h1 class="page-title">Property Manager</h1>
   <ol class="breadcrumb">
      <li class="active">Properties</li>
      <li class="active">Manage</li>
   </ol>
   <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="http://github.com/vitalets/x-editable" target="_blank">
      <i class="icon wb-link" aria-hidden="true"></i>
      <span class="hidden-xs">Official Website</span>
      </a>
   </div>
</div>
<div class="col-md-2 " style="margin-left: -15px; ">
   <div class="list-group bg-white bg-inherit">
      <a class="list-group-item blue-grey-500" href="javascript:void(0)" translate>
      <i class="icon wb-home" aria-hidden="true"></i> Apartments <span class="badge badge-warning">5</span>
      </a>
      <a class="list-group-item blue-grey-500" href="javascript:void(0)" translate>
      <i class="icon wb-home" aria-hidden="true"></i> Businesses <span class="badge badge-warning">5</span> 
      </a>
      <a class="list-group-item blue-grey-500" href="javascript:void(0)" translate>
      <i class="icon wb-home" aria-hidden="true"></i> Condos <span class="badge badge-warning">5</span>
      </a>
      <a class="list-group-item blue-grey-500" href="javascript:void(0)" translate>
      <i class="icon wb-home" aria-hidden="true"></i> Homes <span class="badge badge-warning">5</span>
      </a>
   </div>
</div>
<div class="col-md-10 ">
   <div class=" ">
      <section class=" ">
         <div class=" ">
            <div class="panel panel-default">
               <div class="panel-body">
                  <span id="search-box"class="pull-left col-md-3">
                     <div class="input-group">
                        <input type="text" class="  search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                     </div>
                  </span>
                  <span id="filter-group" class="pull-right">
                     <div class="btn-group">
                        <button type="button" class="btn btn-default btn-filter" data-target="all">All <span class="badge badge-info">5</span></button>
                        <button type="button" class="btn btn-default btn-filter" data-target="all">Apartments  <span class="badge badge-info">5</span></button>
                        <button type="button" class="btn btn-default btn-filter" data-target="pagado">Businesses  <span class="badge badge-info">5</span></button>
                        <button type="button" class="btn btn-default btn-filter" data-target="pendiente">Condo  <span class="badge badge-info">5</span></button>
                        <button type="button" class="btn btn-default btn-filter" data-target="cancelado">Homes  <span class="badge badge-info">5</span></button>
                     </div>
                  </span>
                  <div class="table-container">
                     <table class="table table-filter">
                        <thead>
                           <th> </th>
                           <th> </th>
                           <th>Image</th>
                           <th>Details</th>
                           <th>Resources</th>
                           <th>Action</th>
                        </thead>
                        <tbody>
                           <tr data-status="pagado" ng-repeat="i in [1,2,3,4,5]">
                              <td class="vertical-center">
                                 <div class="ckbox">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1"></label>
                                 </div>
                              </td>
                              <td class="vertical-center">
                                 <a href="javascript:;" class="star" uib-tooltip="preview">
                                 <i ng-click="viewPropertyModal()" class="icon text-info wb-eye"></i>
                                 </a>
                              </td>
                              <td>
                                 <a href="#"  >
                                 <img src="http://images.canadianlisted.com/nlarge/179900-nice-turn-of-the-century-home-curran_7671676.jpg" class="media-photo img-rounded">
                                 </a>
                              </td>
                              <td>
                                 <div class="media">
                                    <div class="media-body">
                                       <h4 class="title property-title">
                                          Glebe Heritage Home
                                       </h4>
                                       <div class="summary"><i class="icon wb-map text-danger" aria-hidden="true"></i> 39 Third Ave, Ottawa, ON K1S 2J5</div>
                                       <div class="description">
                                          5-bedroom house on Third ave in glebe area avail. on Aug.01 or Sept. 01, very spacious house, great neighborhood...
                                       </div>
                                       <div class="span8">
                                          <div>
                                             <i class="icon-user"></i> added by <span href="#">John</span> 
                                             | <i class="icon-calendar"></i> Sept 16th, 2012
                                             | <i class="icon-comment"></i> <span class="text-info">30 </span>Images 
                                             | <i class="icon-share"></i> <span class="text-info">3 </span>Videos 
                                             | <i class="icon-share"></i> <span class="text-info">1 </span>Virtual Tour 
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                              <td class="vertical-center">
                                 <span class="pull-right pagado">(Pending)</span> 
                              </td>
                              <td class="vertical-center">
                                 <button id="exampleNProgressDark" type="button" class="btn btn-dark"><i class="icon wb-settings"
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="content-footer">
               <div ng-include="'../assets/page_apps/portal/snippets/bits/pagination.html'"></div>
            </div>
         </div>
      </section>
   </div>
</div>
<script type="text/ng-template" id="propertyModal.html">
   <div class="modal-header">
       <h3 class="modal-title">Glebe Heritage Home <a href="" ng-click="cancel()"><i class="glyphicon glyphicon-remove-sign pull-right" aria-hidden="true"></i></a></h3>
   </div>
   <div class="modal-body">
       <ul>
           <li ng-repeat="item in items">
               <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
           </li>
       </ul>
       Selected: <b>{{ selected.item }}</b>
   </div>
   <div class="modal-footer">
       <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
   </div>
</script>